
#parent {
    display:flex;
    background-color: rgb(255, 255, 255);
}

aside {
    width: 20%;
    flex-grow: 1;
    background-color: lightgreen;
}
content {
    width: 30%;
    flex-grow: 2;
   
}

article {
    width: 30%;
    flex-grow: 3;
}

img {
    width: 140px;
    height: 140px;
    object-fit: cover; /* この一行を追加するだけ！ */
  }
.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1px;
    margin-bottom: 50px;
}

